<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-wheelchair"></span>
        <span class="sidebar-title">{{ 'Bevolking'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumcbs/bevolking/huwelijken/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Aantal huwelijken per dag'|translate }}
            </a>
        </li>
    </ul>
</li>