<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-table"></span>
        <span class="sidebar-title">{{ 'Stamtabellen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumcbs/stamtabellen/current_time/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Simuleert de huidige tijd, gebruikt voor datageneratoe'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumcbs/stamtabellen/provincie/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Provincies'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumcbs/stamtabellen/gemeente/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Gemeentes'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumcbs/stamtabellen/land/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Landen'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumcbs/stamtabellen/geslacht/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Geslachten'|translate }}
            </a>
        </li>
    </ul>
</li>